body {
    width: 100vw;
    overflow-x: hidden;
}

.m-left {
    margin-left: 100px;
}

header {
    background-color: rgba(255, 249, 244, 1);
}

.card-image {
    background: #E5E5E5;
}

.info {
    width: 80%;
    border-radius: 10px;
}

.m-top {
    margin-top: 100px;
}

.info-image {
    width: 80%;
}